# =========================
# Python (Backend)
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# =========================
# Node.js (Admin Dashboard)
# =========================
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Flutter / Dart (Frontend)
# =========================
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# IDE / OS Files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
